[Unit]
Description=KShield Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/he4p/kshield-agent/kshield-agent --manager-url http://192.168.122.1:8080 --bpf-object /home/he4p/kshield-agent/kshield.bpf.o
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
